{:kind :distilled
 :sources [{:path "docs/operating-manual.md" :revision "content"}
           {:path "docs/architecture.md" :revision "content"}
           {:path "docs/provider-architecture.md" :revision "content"}
           {:path "docs/INFLUENCES.md" :revision "content"}
           {:path "docs/building-and-testing.md" :revision "content"}
           {:path "bin/north" :revision "content"}
           {:path "cli/surface.edn" :revision "content"}]
 :refresh-policy :on-change
 :source-digests {"docs/operating-manual.md" "dbed74bb3d2d7c1dec1da0d4cc762946d17ed73e82771c6869fd817abe37f75c"
                  "docs/architecture.md" "c9dc80c28dc341e6442be8cb027f7782496c8417f6ed9b74246316df52a81c93"
                  "docs/provider-architecture.md" "9f31aac16ffc5fec7608b88b98934fc57e1cb06832f1fb12cdb03f3d8a1def43"
                  "docs/INFLUENCES.md" "cfd49d6bac947443c89e11013dd37dfe41e655bd302a09dad09261e935b2d538"
                  "docs/building-and-testing.md" "b8dd3a357a43e5f190b9caba23fe213a4cbe1f5bdf37325e28bc16e8cccb8154"
                  "bin/north" "77918933bee610d79669a17dc66b1d1582036e403c53a9232b46c5889563a2ce"
                  "cli/surface.edn" "75d853a065753291e3a5bc6a1bbca12b2f8e002cb3a521d70a1c8731b353a944"}
 :verified-at "2026-08-31"}
