{:kind :generated, :refresh-policy :on-change, :source-digests {"agent-catalog/sources.json" "f934166b8ac01dbc7b55b6af8270f189d2dca190a288d2e9f65627da985067f0", "architecture/system.edn" "064015f0511fe45e626f12fba9a7350770c943090e5ce6ea50af7db1fec3d5b9", "cli/architecture-cli.bclj" "0049dc2a8e0f68cb5e5f7835ff6d71e5970f6a5ac6f78124a921098d728497b2"}, :sources [{:path "architecture/system.edn", :revision "content"} {:path "cli/architecture-cli.bclj", :revision "content"} {:path "agent-catalog/sources.json", :revision "content"}]}
