{:kind :generated, :refresh-policy :on-change, :source-digests {"agent-catalog/sources.json" "4085e3c7451af35556d57a8ae207039acd772e0dcc55d96ec93e96a6668bfed7", "architecture/system.edn" "064e1a0cc2a666d427d1b478cd784490d034aac72dd0050659a497d93f23fe8e", "cli/architecture-cli.bclj" "0049dc2a8e0f68cb5e5f7835ff6d71e5970f6a5ac6f78124a921098d728497b2"}, :sources [{:path "architecture/system.edn", :revision "content"} {:path "cli/architecture-cli.bclj", :revision "content"} {:path "agent-catalog/sources.json", :revision "content"}]}
